* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-hero {
    background-image: url("../images/stars-on-velvet.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}