* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    font-size: 0px
}

#container {
    width: 500px;
    height: 100vh;
    background-color: black;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;    
}

#border-left {
    width: 100px;
    height: 100vh;
    background-color: black;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
}

#border-right {
    width: 550px;
    height: 100vh;
    background-color: black;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
}

.block {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    background-color: grey;
    border-style: outset;
    border-width: 10px;
}

.cyan {
    background-color: cyan;
    background: linear-gradient(to top left, cyan, rgb(0, 210, 210));
    border-color: cyan;
}

.red {
    background-color: red;
    background: linear-gradient(to top left, red, rgb(218, 0, 0));
    border-color: red;
}

.yellow {
    background-color: yellow;
    background: linear-gradient(to top left, yellow, rgb(223, 223, 0));
    border-color: yellow;
}

.blue {
    background-color: blue;
    background: linear-gradient(to top left, blue, rgb(0, 0, 213));
    border-color: blue;
}

.orange {
    background-color: orange;
    background: linear-gradient(to top left, orange, rgb(229, 149, 0));
    border-color: orange;
}

.magenta {
    background-color: magenta;
    background: linear-gradient(to top left, magenta, rgb(220, 0, 220));
    border-color: magenta;
}

.green {
    background-color: rgb(0, 255, 0);
    background: linear-gradient(to top left, rgb(0, 255, 0), rgb(0, 220, 0));
    border-color: rgb(0, 255, 0);
}

.empty {
    background-color: black;
    border-style: none;
    border-width: 0px;
}

.border-block {
    background-color: grey;
    background: linear-gradient(to top left, grey, rgb(92, 92, 92));
    border-color: grey;
}