* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#morning,
#afternoon,
#evening {
    padding: 24px;
    padding-top: 5px;
    margin: 24px;
    border-radius: 24px;
    max-width: 500px;
    text-align: center;
}

#morning {
    background-color: rgb(172, 230, 253);
}

#afternoon {
    background-color: rgb(255, 212, 112);
}

#evening {
    background-color: rgb(157, 120, 179);
}

#morning .completed,
#afternoon .completed,
#evening .completed {
    text-decoration: line-through;
    list-style-type: "\2611";
}

#morning .important,
#afternoon .important,
#evening .important {
    font-weight: bold;
    color: azure;
}

#morning .completed.important,
#afternoon .completed.important,
#evening .completed.important {
    background-color: rgba(0, 0, 0, 0.12);
}

#morning .button,
#afternoon .button,
#evening .button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    margin: 10px 25px;
    background-color: azure;
}

#morning .button {    
    background: linear-gradient(to top, rgb(101, 168, 195), azure);
}

#afternoon .button {
    background: linear-gradient(to top, rgb(211, 167, 62), azure);
}

#evening .button {
    background: linear-gradient(to top, rgb(121, 71, 149), azure);
}

#morning .button:hover,
#afternoon .button:hover,
#evening .button:hover {
   background: azure;
}

#morning .button:active {
    background: linear-gradient(to bottom, rgb(101, 168, 195), azure);
}
#afternoon .button:active {
    background: linear-gradient(to bottom, rgb(211, 167, 62), azure);
}
#evening .button:active {    
    background: linear-gradient(to bottom, rgb(121, 71, 149), azure);

}

#morning h2,
#afternoon h2,
#evening h2 {
    font-size: 40px;
    font-family: "thirsty-rough-two";
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

#morning ul,
#afternoon ul,
#evening ul {
    background-color: rgba(255, 255, 255, 0.207);
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 25px;
    text-align: left;
    list-style-type: "\2610";
    list-style-position: inside;
}

#morning li,
#afternoon li,
#evening li {
    padding: 10px;
    font-size: 20px;
}