/*
    Style Notes: 
    Main Colors: 
    #7e005e
    #981e7a
    Accent Colors
    #4aaad0
    #9deaec
    #27B50A
    Body Font Family:
    Avenir
    Optional Header Family:
    Great Sejagad
    Primary Header Family:
    Bebas Neue
*/

* {
    box-sizing: border-box;
}

@font-face {
      font-family: 'Bebas Neue';
      src: url('../fonts/BebasNeue-Regular.ttf') format('ttf');
}

@font-face {
      font-family: 'Great Sejagad';
      src: url('../fonts/GreatSejagad.ttf') format('ttf');
}

@font-face {
      font-family: 'Avenir LT STD';
      src: url('../fonts/AvenirLTStd-Roman.otf') format('otf');
      src: url('../fonts/AvenirLTStd-Oblique.otf') format('otf');
      src: url('../fonts/AvenirLTStd-MediumOblique.otf') format('otf');
      src: url('../fonts/AvenirLTStd-Medium.otf') format('otf');
      src: url('../fonts/AvenirLTStd-LightOblique.otf') format('otf');
      src: url('../fonts/AvenirLTStd-Light.otf') format('otf');
      src: url('../fonts/AvenirLTStd-HeavyOblique.otf') format('otf');
      src: url('../fonts/AvenirLTStd-Heavy.otf') format('otf');
      src: url('../fonts/AvenirLTStd-BookOblique.otf') format('otf');
      src: url('../fonts/AvenirLTStd-Book.otf') format('otf');
      src: url('../fonts/AvenirLTStd-BlackOblique.otf') format('otf');
      src: url('../fonts/AvenirLTStd-Black.otf') format('otf');
}

body {
    margin: 0px;
    font-family: 'Avenir LT STD';
    background-color: #000000;
}

iframe {
    border: 0;
}

#hero {
    width: 100%;
    height: 450px;
}

p, ul, li {
    background-color: #FFFFFF;
    margin: 0;
}