/*
    Style Notes: 
    Main Colors: 
    #7e005e
    #981e7a
    Accent Colors
    #4aaad0
    #9deaec
    #27B50A
    Body Font Family:
    Avenir
    Optional Header Family:
    Great Sejagad
    Primary Header Family:
    Bebas Neue
*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Bebas Neue";
    src: url('../fonts/BebasNeue-Regular.ttf') format('ttf');
    src: url('../fonts/BebasNeue-Regular.woff') format('woff');
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Great Sejagad";
    src: url('../fonts/GreatSejagad.ttf') format('ttf');
    src: url('../fonts/GreatSejagad.woff') format('woff');
    src: url('../fonts/Great\ Sejagad.woff2') format('woff2');
}

@font-face {
    font-family: "Avenir LT STD";
    src: url('../fonts/AvenirLTStd-Roman.otf') format('otf');
    src: url('../fonts/AvenirLTStd-Roman.woff') format('woff');
    src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2');
}

body {
    margin: 0px;
    font-family: "Avenir LT STD";
    background-color: black;
}

body #header,
body #footer {
    color: white;
}

body #main-content {
    background-color: white;
    color: black;
}

#hero {
    width: 100%;
    height: 450px;
    z-index: 50;
    background-color: black;
}

#header-logo {
    height: 50px;
    margin: 0;
    padding: 0;
}

#header h1 {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue";
    margin-top: 9px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: white;
}

.flex-container-header {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to top, #7e005e, black 20%);
    align-items: center;
}

.flex-container-header a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 25px;
}

.flex-container-header a:hover {
    background-color: #7e005e;
    text-decoration: underline;
    transition: .45s;
}

.flex-container-header .dropdown-menu a:hover {
    background-color: #7e005e;
    background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        transparent
    );
    transition: .45s;
}


.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 50;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: .45s;
}

.dropdown-menu a {
    background-color: #7e005e;
    width: 100%;
    min-width: 200px;
}

.styled,
.styled-submitbutton,
.styled-footer {
    border: 0;
    line-height: 1.75;
    letter-spacing: 2px;
    padding: 0px 25px;
    padding-top: 2px;
    font-size: 1.5em;
    font-family: "Bebas Neue";
    text-align: center;
    color: white;
    background-color: #7e005e;
    background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        transparent
    );
}

.styled {
    margin: 0;
}

.styled-submitbutton {
    margin-top: 5px;
}

.styled-footer {
    margin-bottom: 35px;
    margin-right: 15px;
}

.styled-submitbutton:hover,
.styled-footer:hover {
    background-color: #4aaad0;
    transition: .45s;
}

.styled-submitbutton:active,
.styled-footer:active {
    box-shadow:
        inset -2px -2px 3px #9de9ec53,
        inset 2px 2px 3px rgb(0 0 0 / 30%);
}

#showcountdown-timer,
#f-showcountdown-timer {
    font-family: "Bebas Neue";
    font-size: 1.75em;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#showcountdown-timer span,
#f-showcountdown-timer span {
    display: inline-block;
    padding: 0 10px;
    padding-top: 2px;
    line-height: 1.5;
    letter-spacing: 2px;
    background-color: #7e005e;
    background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        transparent
    );
}

#f-showcountdown-timer span {
    margin-bottom: 35px;
    margin-top: 45px;
}

.submit-closed {
    font-family: "Avenir LT STD";
    font-style: italic;
    font-weight: 100;
}

#main-banner-image {
    height: 350px;
    margin: 0;
    padding: 0;
}

.flex-container-banner {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: 
        linear-gradient(#4aaad0d3, #4aaad0c5), 
        url(../images/temp-banner-2.jpg);
    background-position: center;
    height: 350px;
}

.column-banner-img {
    width: 60%;
    margin: 0;
    padding: 0;
}

.column-banner-text {
    width: 40%;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    align-content: center;
    font-family: "Bebas Neue";
}

#slogan,
#address,
#phone,
#cr {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    background-color: black;
}

#join {
    letter-spacing: 4.5px;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: "Bebas Neue";
}

.sitemap-h3,
#logos {
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

#footer-logo {
    height: 75px;
    margin: 0;
    padding: 0;
}

.flex-container-footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 205px;
    padding-top: 5px;
}

.footer-li {
    list-style: none;
    margin-bottom: 10px;
    font-family: "Avenir LT STD";
    font-size: 12px;
    width: 125px;
    color: white;
    background-color: black;
}

.footer-ul {
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    color: white;
    background-color: black;
}

.fa-brands {
    margin: 7px;
}

#slogan {
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-style: normal;
    font-size: 12px;
    font-family: "Bebas Neue";
}

.flex-container-info {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

#cr {
    font-family: "Avenir LT STD";
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

.column-logo {
    text-align: center;    
    align-content: center;
}

.column-buttons {
    text-align: center;
    align-content: center;
}

.column-site-map {
    align-content: center;
    padding-top: 25px;
}

.footer-ul a:hover,
.sitemap-h3 a:hover {
    text-decoration: underline;
}

#logos a:hover {
    color: #9deaec;
}

@media (max-width: 780px) {
    .flex-container-header {
        flex-wrap: wrap;  
        padding: 0 0 35px;      
    }

    #header-logo-container {
        order: 1;
    }

    #gallery-drop {
        order: 3;
    }

    #header-count {
        order: 2;
    }

    #guideline-drop {
        order: 5;
    }

    #sub-button {
        order: 4;
    }

    #gallery-drop h1,
    #guideline-drop h1,
    #gallery-drop a,
    #guideline-drop a {
        font-size: 15px;
        padding: 2px 7px 5px;
        text-align: center;
        vertical-align: middle;
    }

    #gallery-drop sub,
    #guideline-drop sub {
        display: none;
    }

    #gallery-drop .dropdown-menu a,
    #guideline-drop .dropdown-menu a{
        display: none;
    }

    #header-logo {
        height: 40px;
    }

    #showcountdown-timer {
        font-size: 20px;
    }
    
    .styled,
    .styled-submitbutton {
        font-size: 20px;
        padding: 2px 15px 0;
    }

    #flex-container a {
        padding: 0;
    }

    #showbutton {
        margin: auto 30px;
    }

    #submittext {
        padding: 0;
        text-align: center;
        font-size: 12px;
        width: 60px;
    }
}