@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Oswald:wght@200..700&family=Vast+Shadow&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Oswald";
    background-image: url(../images/field4.jpg);
    background-repeat: none;
    background-size: cover;
}

#outer {
    max-width: 1050px;
    padding: 25px;
    border: 15px groove #fec671;
    margin: 50px auto;
    background-color: white;
}

#single-column-layout {
    background-color: #153e10;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 15px groove #fec671;
}

#single-column-layout h4 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 50px 0 5px;
    font-family: "Vast Shadow";
    font-weight: normal;
    color: #62cfff;
}

#single-column-layout h1 {
    font-family: "Bowlby One SC";
    color: #7e005e;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 
        2px 2px #62cfff,
        5px 5px black;
}

#single-column-layout h3 {
    letter-spacing: 5px;
    color: #62cfff;
    font-size: 55px;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 
        1px 1px #153e10,
        2px 2px #1681a8;
}

.sports-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0 0;
}

.sports-teams .team-column {
    max-width: 300px;
}

.sports-teams .team-column .img-container img {
    width: 100%;
}

.sports-teams.names {
    padding: 0;
    justify-content: center;
    gap: 110px;
    margin-left: 25px;
}
.sports-teams .team-name-column {
    max-width: 375px;
    padding: 10px 0 5px;
}

.sports-teams .team-name-column .team {
    font-family: "Vast Shadow";
    font-weight: normal;
    font-size: 25px;
    margin: 0;
    color: #62cfff;
}

.sports-teams .team-name-column .mascot {
    font-family: "Bowlby One SC";
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    color: #7e005e;
    text-transform: uppercase;
    text-shadow: 
        2px 2px #62cfff,
        5px 5px black;    
}

#single-column-layout #date {
    padding: 50px 0 15px;
    font-size: 50px;
}

#single-column-layout p.exclaim {
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: #9deaec; 
}

#single-column-layout p {
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
    color: #ff4463;    
}

#single-column-layout #button-columns {
    display: flex;
    gap: 75px;
    justify-content: center;
    padding: 15px;
}

#single-column-layout #button-columns a.button {
    padding: 0px 25px 5px;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #7e005e;
    background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        transparent
    );
    text-shadow: 
        1px 1px #153e10,
        2px 2px black;
    display: block;
    border: 5px groove #fec671;
}

#single-column-layout #button-columns a.button:hover {
    background-color: #4aaad0;
    transition: .45s;
}

#single-column-layout #button-columns a.button:active {
    box-shadow:
        inset -2px -2px 3px #9de9ec53,
        inset 2px 2px 3px rgb(0 0 0 / 30%);
}