* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    padding: 1%;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    margin-top: 4%;
    text-align: center;
    margin-bottom:4%;
}
