* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    padding: 1%;
    background-color: #B6DEF3;
    color: #1C3948;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: #3f6c84;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    margin-top: 4%;
    text-align: center;
    margin-bottom: 4%;    
}

a {
    color: #3F6173;
}

img {
    border: 5px solid #3f6c84;
    box-shadow: 5px 5px 15px 1px #3f6c84;
}

.poster-link {
    text-decoration: none;
}

.poster-link-group {
    justify-self: center;
}

.movie-blocks {
    width: 600px;
    justify-self: center;
}

.movie-return {
    text-align: end;
}

.album-feature {
}

.flex-container {
    display: flex;
}

.column-tracks {
    margin-left: 15px;
}

.column {
    margin-left: 1%;
}

.h4-title {
    margin: 0;
    padding: 0;
}

.flex-container-track {
    display: flex;
    font-size: small;
    align-items: center;
}

.column-track {
    width: 200px;
    margin-right: 25px;
}
.column-artist {
    width: 400px;
    margin-right: 25px;
}
.column-duration {
    width: 100px;
}    

.flex-container-links {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.column-featured-album {
    text-align: center;
}

.flex-container-featured-album {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.album {
    text-align: center;
}