/*START: Universal Section*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    padding: 1%;
    background-color: #B6DEF3;
    color: #1C3948;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: #3f6c84;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    margin-top: 4%;
    text-align: center;
    margin-bottom: 4%;    
}

a {
    color: #3F6173;
}

a:hover {
    color: rgb(189, 40, 125);
    transition: .5s;
}

img {
    border: 5px solid #3f6c84;
    box-shadow: 5px 5px 15px 1px #3f6c84;
}

.flex-container {
    display: flex;
}

.column {
    margin-left: 1%;
}
/*END: Universal Section*/

/*START: Playlist Section*/
.h4-title {
    margin: 0;
    padding: 0;
}

.playlist-return {
    text-align: end;
}

/*PLaylist Spotlight*/
#flex-container-featured-playlist {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    margin-top: 4%;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 30%; 
    left: 25%; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;
    color: #3f6c84a2;
}

.flex-container-current {
    display: flex;
    align-items: center;
}

.column-playlisttracks,
#h1-playlist-title,
.column-current-track {
    margin-top: 0px;
    padding-top: 0px;
}

#img-current-track {
    width: 200px;
}

.column-tracklist {
    margin-left: 25px;
    width: 575px;
}

#h3-title-current {
    margin-top: 0;
    padding-top: 0;
    text-decoration: underline;
    color: #3f6c84;
}

#h4-title-next {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 0;
    text-decoration: underline;
    color: #3f6c84;
}

#playlist-tracklist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#next-tracklist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.flex-container-track {
    display: flex;
    font-size: small;
    align-items: center;    
}

.column-playlisttrack {
    width: 150px;
    margin-right: 25px;
}

.column-playlistartist {
    width: 300px;
    margin-right: 25px;
}

.column-playlistduration {
    width: 100px;
}  

.h5-title {
    margin: 0;
    padding: 0;
}

.column-playlisttrack-next {
    width: 150px;
    margin-right: 25px;
    font-size: 12px;
}

.column-playlistartist-next {
    width: 300px;
    margin-right: 25px;
    font-size: 12px;
}

.column-playlistduration-next {
    width: 100px;
    font-size: 12px;
} 

#playlist-cover {
    width: 300px;
}

/*Playlist Spotlight*/

/*Featured ALbums*/
#album-section-title {
    text-align: center;
}

.flex-container-featured-album {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.column-featured-album {
    text-align: center;
}

.album {
    width: 200px;
}

.album:hover {
    scale: calc(1.1);
    transition: .5s;
    
}
/*Featured Albums*/

/*Full Album*/
.album-cover {
    width: 300px;
}

.column-tracks {
    margin-left: 15px;
    margin-right: 15px;
}

.column-track {
    width: 200px;
    margin-right: 25px;
}

.column-artist {
    width: 400px;
    margin-right: 25px;
}

.column-duration {
    width: 100px;
}  
/*Full Album*/
/*END: Playlist Section*/

/*START: Movie Section*/
.movie-return {
    text-align: end;
}

/*Banner*/
#h1-movie {
    font-style: italic;
    line-height: 3;
    font-family: 'Berkshire Swash';
    font-size: xx-large;
    background: #1C3948;
    background: linear-gradient(to top, #030129 0%, #59dbb0e8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 1px rgb(187, 222, 104));
    text-shadow: 0px 0px 25px rgba(153, 169, 71, 0.713);
}

#h1-movie2 {
    font-family: 'Berkshire Swash';
    line-height: 2;
    font-size: xxx-large;
    background: #1C3948;
    background: linear-gradient(to top, #030129 0%, #59dbb0e8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 1px rgb(187, 222, 104));
    text-shadow: 0px 0px 25px rgba(153, 169, 71, 0.713);
}
#h1-movie3 {
    font-family: 'Berkshire Swash';
    line-height: 1;
    font-size: larger;
    background: #1C3948;
    background: linear-gradient(to top, #030129 0%, #59dbb0e8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 1px rgb(187, 222, 104));
    text-shadow: 0px 0px 25px rgba(153, 169, 71, 0.713);
}

#movie-title {
    background-image: 
        linear-gradient(rgba(8, 7, 2, 0.91), rgba(214, 208, 14, 0.666)), 
        url(../images/ghibli17.jpg);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
/*Banner*/


.poster-link {
    text-decoration: none;
}

.poster-link-group {
    justify-self: center;
}

.movie-blocks {
    width: 600px;
    justify-self: center;
}



.flex-container-links {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
}