/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    display: inline-block;
    margin: 24px; 
    padding: 24px;
    vertical-align: top;
    background-color: palegoldenrod;
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.557);
}

.polaroid {
    background-color: whitesmoke;
    height: 250px;
    width: 200px;
    padding: 15px;
    
}

#sunglass-polaroid {
    transform: rotate(5deg);
}

#star-polaroid {
    transform: rotate(-2deg);
    margin-right: 50px;
}

.polaroid-image {
    width: 170px;
    height: 170px;
    object-fit: cover;    
    border: 3px groove rgba(36, 36, 35, 0.619);
}

#sunglass-image {
    object-position: 55%;
}

#star-image {
    object-position: 35%;
}

.polaroid-script {
    font-family: cursive;
    font-style: italic;    
    margin: 0;
    padding: 0;
    line-height: .75;   
}

.sunglass-font {
    color: darkolivegreen;
    transform: rotate(-2.5deg);
}

.star-font  {
    color: teal;
    transform: rotate(2.5deg);
    margin-top: 5px;
}

#caption-sun {
    font-size: 17px;
    letter-spacing: 2px;
}

#caption-star {
    font-size: 16.5px;
}

.details {
    font-size: 9px;
    padding-top: 10px;
    transform: rotate(0deg);
    text-align: center;
}

#details-star {
    margin-top: 10px;   
}

#timey-wimey-post-it {
    padding: 10px;
    transform: rotate(8deg);
    background-color: powderblue;
    margin-left: 200px;
    margin-right: 50px;
}

#timey-wimey-text {
    font-size: 9px;
    font-family: cursive;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#timey-head {
    font-size: 15px;
    font-family: cursive;
    font-style: italic;
    transform: rotate(-25deg);
    margin: 0;
    padding: 0;
    color: navy;
}

#tenth {
    font-family: cursive;
    font-style: italic;
    font-size: 7px;
    text-align: end;
    margin-top: 20px;
}

#bowtie-post-it {
    background-color: powderblue;
    padding: 10px;
    transform: rotate(-10deg);
}

#bowtie-text {
    color: navy;
    font-family: cursive;
    font-style: oblique;
    font-weight: bold;
    font-size: 25px;
    transform: rotate(30deg);
    margin: 0;
    margin-top: 15px;
    padding: 0;
    text-align: center;
}

.list-title {
    margin: 0;
    font-family: cursive;
    font-style: italic;
}

#groceries {
    font-family: cursive;
    font-style: italic;
    color: rebeccapurple;
    transform: rotate(2deg);
}

#to-do {
    font-family: cursive;
    font-style: italic;
    color: indianred;
    transform: rotate(4deg);
}