@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Yuji+Syuku&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Yuji Syuku";
    background-color: #1f1a15;
}

#navbar {
    display: flex;
    background-color: #1f1a15;
    justify-content: center;
}

#navbar a {
    display: block;
    text-decoration: none;
    color: #d6c1a9;
    padding: 1.75% 5% 0px;
    font-size: 1.75vw;
    font-weight: bold;
}

#navbar a#logo {
    font-family: "Rock Salt";
    padding: 1% 24px;
}

#hero {
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #1f1a15),
        url("../images/hero-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 7%;
}

#hero #hero-content {
    text-align: center;
}

#hero #hero-content h1 {
    color: #d6c1a9;
    font-size: 4.25vw;
    font-family: "Rock Salt";
    margin-bottom: 10px;
}

#hero #hero-content a {
    font-size: 2.25vw;
    width: 60%;
    margin: 0 auto;
}

.btn {
    display: block;
    text-decoration: none;
    background-color: #d6c1a9;
    color: #1f1a15;
    padding: 4% 5% 5%;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
}

.btn:hover {
    background-color: #ad8a67d2;
}

#gallery-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #ad8a67d2;
    background-color: #26231ca2;
    padding: 40px;
    gap: 30px;
    max-width: 85%;
    margin: 40px auto;
    box-shadow: 
        0 0 15px 0px rgba(0, 0, 0, 0.716),
        inset 0 0 15px 0px rgba(0, 0, 0, 0.716);
    position: relative;
    z-index: -1;
}

#gallery-layout .img-container {
    width: 100%;
    border-radius: 15px;
    position: relative;
    box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.716);
    background-color: transparent;
}

#gallery-layout img {
    width: 100%;
    border-radius: 15px;
    display: block;
    position: relative;
    z-index: -1;
}

#card-layout {
    display: flex;
    justify-content: center;
    gap: 7%;
    margin: 30px auto;
    width: 75%;
}

#card-layout .card {
    border: 5px solid #ad8a67d2;
    background-color: #26231ca2;
    color: #d6c1a9;
    padding: 3%;
    text-align: center;
    flex: 1;
}

#card-layout .card h2 {
    margin: 0 0 10px;
    font-size: 2vw;
}

#card-layout a.btn {
    font-size: 1.5vw;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
}

@media screen and (max-width: 750px) {
    #gallery-layout {
        grid-template-columns: 1fr 1fr;
    }

    #card-layout a.btn {
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    #gallery-layout {
        grid-template-columns: 1fr;
    }
}