* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar-content {
    /*background-color: lightblue;*/
    flex: 1;
    max-width: 250px;
    order: 2;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: slategray;
    color: white;
    padding: 12px;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

#sidebar-content ul {
    margin: 0 0 36px;
    background-color: floralwhite;
    border: 1px solid slategray;
    list-style-type: none;
    padding: 0 12px;
}

#sidebar-content ul li a{
    text-decoration: none;
    color: slategray
}

#sidebar-content li {
    padding: 8px 0;
    border-bottom: 1px solid slategray;
}

/*psuedo class*/
#sidebar-content li:last-child {
    border-bottom: none;
}

#main-content {
    background-color: lightgreen;
    flex: 1;
    order: 1;
}
