* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#span1 {
    font-weight: bold;
    text-decoration: line-through;
}

#span2 {
    font-style: italic;
}

#big-para {
    font-size: 11px;
    font-family: 'Banshee STD';
}

#ff-1 {
    font-family: serif;
    text-align: left;
}

#ff-2 {
    font-family: sans-serif;
    text-align: center;
}

#ff-3 {
    font-family: monospace;
    text-align: right;
}

#ff-4 {
    font-family: cursive;
}

#ff-5 {
    font-family: fantasy;
}

#no-underline {
    text-decoration: none;
}

#img-align {
    width: 100px;    
}

#alignment-test {
    text-align: center;
}