* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    justify-self: center;  
    text-align: center;
}

#triforce {
    color: rgb(151, 96, 50);
}

#heart {
    color: rgb(195, 0, 65);
}

#green {
    color: rgb(4, 112, 19);
}

#red {
    color: rgb(212, 0, 4);
}

#blue {
    color: rgb(6, 57, 168);
}

@media only screen and (max-width: 767px) {
            body {
                width: 100%;
                padding:15px;                
            }

            p {
                width: 100%;
                font-size:13px;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            h4 {
                width: 100%;
                font-size: 13px;
            }

            h1 {
                width: 100%;
                font-size: 25px;
            }

            h2 {
                width: 100%;
                font-size: 20px;
            }
        }