@import url("https://use.typekit.net/drm0rll.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: maku;
    background-color: rgb(43, 43, 43);
}


/*Begin Hero*/
.content .hero {
    display: flex;
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(43, 43, 43)),
        url("../images/moonshae13.webp"); 
    background-size: cover;
    background-position: center;
    gap: 0;
    border-bottom: ridge rgb(43, 43, 43) 6.5px;
}

.content .hero img {
    width: 35%;
    object-fit: cover;
    border-top: ridge lightcyan 7px;
    border-left: ridge lightcyan 7px;
    border-right: groove lightcyan 7px;
    border-bottom: groove lightcyan 7px;
    border-radius: 50px;
    corner-shape: scoop;
    margin: 5% 0 5% 7.5%;
    box-shadow: rgba(55, 55, 55, 0.575) 1px 1px 50px 0;
}

.content .hero .hero-content {
    margin: 0 auto;
    align-self: center;
}
.content .hero .hero-content h1 {
    font-family: "regrets-major";
    color: lightcyan;
    font-weight: normal;
    text-align: center;
    font-size: 6vw;
    font-style: italic;
    margin: 0;
    padding: 0;
    line-height: 1.15;
}

.content .hero .hero-content span#nickname {
    font-family: "envelove";
    font-size: 10vw;
    line-height: .9;
}

.content .hero .hero-content p {
    color: lightcyan;
    line-height: 1.25;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 2%;
    padding: 0 7.5%;
    font-size: 1.25vw;
}
/*End Hero*/

.content .flex-box {
    display: flex;
}
/*Begin sidebar*/
.sidebar {
    font-family: "waverly-cf";
    width: 20%;
    padding: 3.5%;
    background-color: #8099a9;
}

.sidebar h2 {
    font-size: 2vw;
    border-bottom: solid rgb(43, 43, 43) 2.25px;
    width: fit-content;
    color: rgb(43, 43, 43);
}

.sidebar h3 a {
    font-size: 1.75vw;
    text-decoration: none;
    color: rgb(43, 43, 43);
    transition: .5s ease-in-out;
}

.sidebar h3 a:hover {
    color: azure;
}
/*End Sidebar*/

.content-column {    
    margin: 5% auto;    
    width: 65%;    
}

.content-section {
    padding: 4% 8% 5%;
    border: ridge rgb(43, 43, 43) 6.5px;
    border-right-style: groove;
    border-bottom-style: groove;
    corner-shape: scoop;
    border-radius: 50px;
    background-color: rgb(54, 54, 54);
    box-shadow: rgba(27, 27, 27, 0.575) 1px 1px 25px 0;
}

h2 {
    font-family: "waverly-cf";
    color: #8099a9;
    font-size: 3vw;
    justify-self: center;
    margin: 0;
    padding: 0 0 15px;
}

p {
    color: #7e848c;
    line-height: 1.25;
    letter-spacing: 1px;
    margin: 0 auto 15px;
}