@import url("https://use.typekit.net/drm0rll.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(43, 43, 43);
}

/*Begin Header*/
#header {
    background: linear-gradient(to bottom, rgb(125, 0, 0), rgb(254, 123, 1) 185%);
}

#header h1 {
    color: cornsilk;
    font-family: "waverly-cf";
    font-weight: 900;
    font-size: 4vw;
    justify-self: center;
    margin: 0;
    text-align: center;
    padding: 2.5%;
    line-height: 0.65;
}

#personal {
    font-family: "envelove";
    font-weight: normal;
    font-size: 7vw;
}

#virtual {
    font-family: "bd-geminis";
    font-weight: normal;
}

#dnd {
    font-family: "p22-morris-troy";
}

#navbar {
    background-color: cornsilk;
    border-top: ridge cornsilk 7px;
    border-bottom: groove cornsilk 7px;
    display: flex;
    justify-content: center;
}

#navbar a {
    color: rgb(43, 43, 43);
    text-decoration: none;
    padding: 1% 3%;
    font-size: 1.75vw;
    font-family: "waverly-cf";
    font-weight: 750;
}
/*End Header*/

/*Start Menu Carousel*/
.carousel {
    position: relative;
    width: 100%;
    height: 62.25vh;
    overflow: hidden;
}

.carousel .carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel .carousel-item {
    min-width: 100%;
    height: 100%;
    display: none; 
    /* Hide by default, show active with JS */
}

.carousel .carousel-item.active {
    display: flex;
}

.carousel .carousel-item img {
    width: 50%;
    height: 100%;
    object-fit: cover; 
    /* Ensures video covers the entire area */
    object-position: bottom center;
    position: relative;
    border-right: groove 7px peru;
}

.carousel .carousel-item img#character-img {
    object-position: top center;
} 

.carousel .carousel-caption {
    position: absolute;
    align-self: center;
    left: 75%;
    transform: translate(-50%, 0%);
    color: rgb(181, 177, 161);
    text-align: center;
    background-color: transparent;
    border-radius: 75px 0 75px 0;
    width: 50%;
    padding: 0 3% 0 1%;
}

.carousel .carousel-caption .item-header {
    display: flex;
    justify-content: space-between;
}

.carousel .carousel-caption h2 {
    font-size: 3vw;
    margin: 0;
    padding: 0% 7.5% 5% 5%;
    font-family: "p22-morris-troy";
    font-weight: normal;
    color: peru;
}

.carousel .carousel-caption h3  {
    font-size: 3.5vw;
    margin: 0;
    font-weight: normal;
    padding: 0 7.5% .5% 5%;
    font-family: "envelove";
    justify-self: left;
    line-height: .75;
}

.carousel .carousel-caption h4.tagline {
    padding: 0 7.5% 3% 5%;
    margin: 0;
    justify-self: left;
    text-align: left;
    font-family: "newshound";
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 1.25;
    letter-spacing: 1px;
    font-style: italic;
}

.carousel .carousel-caption .flex-box {
    padding: 2% 7.5% 3% 5%;
    display: flex;
    gap: 25%;
}

.carousel .carousel-caption h4.class-title,
.carousel .carousel-caption h4.campaign-title {
    margin: 0;
    padding-bottom: 1.5%;
    justify-self: left;
    text-align: left;
    font-family: "newshound";
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 1.25;
    letter-spacing: 1px;
    font-style: italic;
}

.carousel .carousel-caption h4.class-content,
.carousel .carousel-caption h4.campaign-content {
    margin: 0;
    justify-self: left;
    text-align: left;
    font-family: "newshound";
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 1.5;
    letter-spacing: 1px;
    font-style: italic;
}

.carousel .carousel-caption p {
    font-family: "maku";
    font-weight: normal;
    text-align: start;
    font-size: 1.35vw;
    margin: 0;
    padding: 0 7.5% 4% 5%;
    letter-spacing: .75px;
    line-height: 1.25;
}

.carousel .carousel-caption a {
    font-size: 2vw;
    font-family: "waverly-cf";
    font-weight: bold;
    padding: 1% 0%;
    text-decoration: none;
    color: rgb(43, 43, 43);
    background: linear-gradient(to bottom, peru, rgba(205, 134, 63, 0.475) 100%);
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    border-top: ridge peru 3px;
    border-left: ridge peru 3px;
    border-right: groove peru 3px;
    border-bottom: groove peru 3px;
    transition: .5s ease-in-out;
}

.carousel .carousel-caption a:hover {
    background-color: peru;
    color: rgba(255, 248, 220, 0.805);
}

.carousel .carousel-caption a:active {
    background: linear-gradient(to top, peru, rgba(205, 134, 63, 0.475) 100%);
    color: rgba(255, 248, 220, 0.362);
}

.carousel .carousel-control {
    position: absolute;
    background-color: rgba(69, 26, 26, 0.688);
    align-items: center;
    color: rgba(205, 134, 63, 0.779);
    border: none;
    padding: 0px 15px 7px;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    font-size: 5vw;
    transition: 
        color .5s ease-in-out, 
        background-color .5s ease-in-out;
}

.carousel .carousel-control:hover {
    background-color: rgba(205, 134, 63, 0.837);
    color: rgb(43, 43, 43);
}

.carousel .carousel-control.prev {
    left: 0px;
}

.carousel .carousel-control.next {
    right: 0px;
}

.carousel .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel .indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 248, 220, 0.658);
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
    
}

.carousel .indicator:hover {
    box-shadow: 0 0 7px 3px rgba(205, 134, 63, 0.487);
    background-color: cornsilk;
}

.carousel .indicator.active {
    background: cornsilk;
    box-shadow: none;
}

/*End Menu Carousel*/

/*Begin Footer*/
.footer {
    border-top: ridge cornsilk 7px;
    background-color: rgba(64, 1, 1, 0.416);
}

.footer .site-map {
    display: flex;
    margin: 0 auto;
    padding: 2% 5% 2% 10%;
    justify-content: space-between;
}

.footer .site-map-c1,
.footer .site-map-c2,
.footer .site-map-c3,
.footer .site-map-c4 {
    width: 20%;
}

.footer .site-map a {
    color: rgb(100, 99, 94);
    text-decoration: none;
    font-family: "waverly-cf";
    transition: .5s ease-in-out;
}

.footer .site-map a:hover {
    color: cornsilk;
}

.footer .site-map h5 {
    margin: 0 0 3%;
    padding: 0;
    font-size: 1.5vw;
}

.footer .site-map h6 {
    margin: 0 0 0 15%;
    padding: 0;
    font-size: 1.15vw;
}
/*End Footer*/