@import url('https://fonts.googleapis.com/css2?family=Delius&family=Knewave&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Delius";
}

.outer-container {
    text-align: center;
}

.single-column {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.flex-container {
    display: flex;
    gap: 40px;
}

.img-column {
    width: 40%;
}

.txt-column {
    width: 60%;
}

img {
    width: 100%;
    border-radius: 25px;
}

#sylveon {
    background-color: pink;
}

h2, 
h3 {
    font-family: "Pacifico";
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 20px;
    line-height: 1;
    text-align: left;
}

h2 {
    font-size: 30px;
    letter-spacing: 1.25px;
    margin-bottom: 25px;
}

.new {
    font-family: "Knewave";
    color: black;
    border-radius: 10px;
    padding: 2px 12px;
    letter-spacing: 3px;
    font-size: 25px;
}

h2 sup {
    font-family: "Knewave";
    font-weight: normal;
    color: black;
}

p {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-size: 14px;
    text-align: left;
}

#sylveon h2,
#sylveon h3 {
    color: #547bcf;
}

.button {
    justify-self: center;
    background-color: black;
    padding: 10px 25px;
    margin-top: 35px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Knewave";
    font-size: 25px;
    border-radius: 15px;
    transition: .5s;
}

#sylveon .button {
    background-color: #547bcf;
    border: 1px solid #547bcf;
}

#sylveon .button:hover,
#leafeon .button:hover,
#glaceon .button:hover,
#umbreon .button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

#sylveon .button:active {
    box-shadow: inset 0 0 5px 5px pink;
}

#leafeon {
    background-color: #65a96f;
}

#leafeon h2,
#leafeon h3 {
    color: #eac367;
}

#leafeon .button {
    background-color: #eac367;
    border: 1px solid #eac367;
}

#leafeon .button:active {
    box-shadow: inset 0 0 5px 5px #65a96f;
}

#glaceon {
    background-color: #b1def4;
}

#glaceon h2,
#glaceon h3 {
    color: #008bae;
}

#glaceon .button {
    background-color: #008bae;
    border: 1px solid #008bae;
}

#glaceon .button:active {
    box-shadow: inset 0 0 5px 5px #b1def4;
}

.flex-container-title {
    display: flex;
    gap: 0;
}

#umbreon {
    background-color: rgb(11, 16, 23);
    color: #f5d031;
}

#umbreon sup {
    color: #f5d031;
}

#umbreon h2,
#umbreon h3 {
    color: #781f2a;
}

#umbreon .button {
    background-color: #781f2a;
    border: 1px solid #781f2a;
}

#umbreon .button:active {
    box-shadow: inset 0 0 5px 5px rgb(11, 16, 23);
}