/*
    Style Notes: 
    Main Colors: 
    #7e005e
    #981e7a
    Accent Colors
    #4aaad0
    #9deaec
    #27B50A
    Body Font Family:
    Avenir
    Optional Header Family:
    Great Sejagad
    Primary Header Family:
    Bebas Neue
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #000000;
}

iframe {
    border: 0;
}