* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    margin: 25px;
    margin-bottom: 50px;
    margin-left: 5px;
    border-left: 5px solid blue;
    border-top: 10px groove violet;
    border-right: 12px ridge wheat;
    border-bottom: 20px dashed pink;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 15px;
    padding: 5px;
}

img {
    border-radius: 100%;
}

#demo-div {
    margin: 0;
    padding: 0;
    border-radius: 25%;
    border: 1px solid crimson;
    background-color: lightblue;
}

