@import url(https://use.typekit.net/xcr0lev.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "new-spirit";
    background-color: #1a2e20;
}

/*Start Header/Navbar*/
#site-nav #header-outer {
    background: linear-gradient(to bottom, #1a2e20, #6d893a9e 150%);
    box-shadow: .4vw .4vw .75vw .25vw #150e09be;
    height: 25vh;
}

#site-nav #header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 0% 10% 0 0;
    height: 25vh;
}

#site-nav #header #img-logo {
    height: 80%;
    margin: 1.25%;
}

#site-nav #header #img-logo img {
    height: 100%;
    box-shadow: .25vw .25vw .75vw .25vw #150e0988;
    padding: 7.5%;
}

#site-nav #header #header-content {
    width: 100%;
    text-align: center;
    padding: .5% 0 0;
}

#site-nav #header #header-content #text-logo h1,
#site-nav h1 {
    font-family: "alana";
    background: #1a2e20;
    background: linear-gradient(to top, #1a2e20 15%, #d3b354 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    margin: 0;
    padding: 3.5% 1%;
    line-height: .5;
    font-style: italic;
    filter: drop-shadow(.4vw .4vw .4vw #150e09b8);
    position: relative;
    z-index: 0;
}

#site-nav h1 {
    display: none;
}

#site-nav #header #header-content #text-logo h1 {
    display: block;
}

#site-nav #header #header-content #navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#site-nav #header #header-content #navbar a {
    color: #fff0c1;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 1% 2.5%;
    font-family: "aviano-royale";
    font-size: 1.5vw;
    font-weight: bold;
    transition: box-shadow .5s ease-in-out, border-bottom .5s ease-in-out;
}

#site-nav #header #header-content #navbar a:hover {
    color: #d3b354;
    border-bottom: 2px solid #d3b354;
    box-shadow: .4vw .4vw .75vw .25vw #150e0988;
}
/*End Header/Navbar*/

/*Start Carousel*/
.hero-carousel {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;  
    display: none; 
    /* Hide by default, show active with JS */
}

.carousel-item.active {
    display: block;
}

.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* Ensures video covers the entire area */
    object-position: bottom center;
    position: relative;
    z-index: -1;
}

.carousel-item#golden video {
    object-position: center center;
}

.carousel-item#macarons video {
    object-position: 50% 75%;
}

.carousel-item#cream video {
    object-position: 50% 25%;
}

.carousel-caption {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "aviano-royale";
    font-weight: bold;
    color: #d3b354;
    text-align: center;
    background-color: #1a2e20b3;
    border-radius: 75px 0 75px 0;
    width: 52.5%;
    padding: .5%;
}

.carousel-caption h1 {
    font-size: 4.5vw;
    padding: 5% 7.5%;
    margin: 0;
}

.carousel-caption h2 {
    font-size: 3vw;
    padding: 5% 7.5% 0;
    margin: 0;
}

.carousel-caption p,
.carousel-caption h3  {
    font-size: 2vw;
    padding: 2% 7.5% 5%;
    margin: 0;
    font-weight: normal;
}

.carousel-caption h3 {
    padding-bottom: 3.5%;
}

#cream .carousel-caption h2 {
    padding: 5% 5% 0; 
    font-size: 2.75vw;
    letter-spacing: 1.5px;
}

#cream .carousel-caption #br-resp {
    display: none;
}

.carousel-caption a {
    font-size: 2.5vw;
    padding: 2.5% 0%;
    margin: 0;
    text-decoration: none;
    color: #483e2a;
    background-color: #d3b354c3;
    display: block;
    margin: 0 auto 5%;
    width: 75%;
    border-radius: 35%;
    transition: background-color .5s ease-in-out;
}

.carousel-caption a:hover {
    background-color: #d3b354;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1a2e20b3;
    color: #d3b354;
    border: none;
    padding: 0px 25px 7px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 50px;
    transition: 
        color .5s ease-in-out, 
        background-color .5s ease-in-out;
}

.carousel-control:hover {
    background-color: #d3b354;
    color: #483e2a;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background: #1a2e20b3;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow .5s ease-in-out;
}

.indicator:hover {
    box-shadow: 0 0 7px 3px #fff0c1;
}

.indicator.active {
    background: #d3b354;
    box-shadow: none;
}
/*End Carousel*/

/*Begin Menu Nav Items*/
#menu-nav {
    background-color: #dee2c7;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0vw .4vw .75vw 0vw #150e0988;
    padding: 3%;
}

#menu-nav a {
    text-decoration: 0;
    color: #1a2e20;
    font-size: 1.5vw;
    display: block;
    border-bottom: 2px solid transparent;
    padding: 1% 2.5%;
    transition: box-shadow .5s ease-in-out, border-bottom .5s ease-in-out;

}

#menu-nav a:hover {
    color: #6d893a;
    border-bottom: 2px solid #6d893a;
    box-shadow: .4vw .4vw .75vw .25vw #150e09be;
}
/*End Menu Nav Items*/

/*Start Menu Carousel*/
.menu-carousel {
    position: relative;
    width: 100%;
    height: 62.5vh;
    overflow: hidden;
    background-color: #2e261b;
    border-bottom: 7px ridge #d3b354;
    border-top: 7px groove #d3b354;
}

.menu-carousel .carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.menu-carousel .carousel-item {
    min-width: 100%;
    height: 100%;
    display: none; 
    /* Hide by default, show active with JS */
}

.menu-carousel .carousel-item.active {
    display: flex;
}

.menu-carousel .carousel-item img {
    width: 50%;
    height: 100%;
    object-fit: cover; 
    /* Ensures video covers the entire area */
    object-position: bottom center;
    position: relative;
}

.menu-carousel .carousel-caption {
    position: absolute;
    top: 15%;
    left: 75%;
    font-family: "aviano-royale";
    font-weight: bold;
    color: #d3b354;
    text-align: center;
    background-color: transparent;
    border-radius: 75px 0 75px 0;
    width: 50%;
    padding: 0 3% 0 1%;
}

.menu-carousel .carousel-caption .item-header {
    display: flex;
    justify-content: space-between;
}

.menu-carousel .carousel-caption h2 {
    font-size: 3vw;
    margin: 0;
    padding: 0% 6% 5%;
}

.menu-carousel .carousel-caption h3  {
    font-size: 1.5vw;
    margin: 0;
    font-weight: normal;
    padding: 0 7.5% 2.5%;
}

.menu-carousel .carousel-caption p {
    font-family: "new-spirit";
    text-align: start;
    font-size: 1.5vw;
    margin: 0;
    padding: 0 7.5% 7.5%;
}

.menu-carousel .carousel-caption a {
    font-size: 2vw;
    padding: 2.5% 0%;
    text-decoration: none;
    color: #483e2a;
    background-color: #d3b354c3;
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 35%;
    transition: background-color .5s ease-in-out;
}

.menu-carousel .carousel-caption a:hover {
    background-color: #d3b354;
}

.menu-carousel .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1a2e20b3;
    color: #d3b354;
    border: none;
    padding: 0px 15px 7px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 25px;
    transition: 
        color .5s ease-in-out, 
        background-color .5s ease-in-out;
}

.menu-carousel .carousel-control:hover {
    background-color: #d3b354;
    color: #483e2a;
}

.menu-carousel .carousel-control.prev {
    left: 10px;
}

.menu-carousel .carousel-control.next {
    right: 10px;
}

.menu-carousel .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.menu-carousel .indicator {
    width: 10px;
    height: 10px;
    background: #dee2c786;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow .5s ease-in-out;
}

.menu-carousel .indicator:hover {
    box-shadow: 0 0 7px 3px #fff0c15d;
}

.menu-carousel .indicator.active {
    background: #d3b354;
    box-shadow: none;
}

.menu-carousel .carousel-caption .price-resp {
    display: none;
}
/*End Menu Carousel*/

/*Begin Menu*/
#menu {
    margin: 0 auto;
}

#menu h2 {
    font-family: "alana";
    color: #d3b354;
    text-align: center;
    font-size: 4vw;
    letter-spacing: 5px;
    line-height: 1;
    margin: 15% 30% 5%;
    border-top: 2px solid #d3b354;
    border-bottom: 2px solid #d3b354;
    padding: 2.5%;
    border-radius: 24px 0 24px 0;
}

#menu .apps h2 {
    margin: 5% 30%;
}

#menu .desserts h2 {
    margin: 22.5% 30% 5%;
}

#menu #classic-dinner .entrees h2 {
    margin: 12% 30% 5%;
}

#menu h3 {
    margin: 0% 0 2%;
    font-family: "aviano-royale";
    font-size: 1.65vw;
    color: #f7dc8bc8;
}

#menu p {
    margin: 0;
    font-size: 1.4vw;
}

#menu .menu-content {
    color: #dee2c7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.5% 5%;
    max-width: 85%;
    margin: 0 auto;
}

#menu .menu-content .menu-item .item-header {
    display: flex;
    justify-content: space-between;
}

.sides {
    margin: 10% auto 0;
    text-align: center;
    color: #dee2c7;
    padding: 2.5% 5%;
    transform: translateY(35%);
    border-top: 2px solid #d3b354;
    border-bottom: 2px solid #d3b354;
    border-radius: 24px 0 24px 0;
    max-width: 85%;
}

#menu #classic-dinner .sides {
    transform: translateY(35%);
}

.sides .side-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

#menu .sides h3 {
    margin: 0;
    padding: 0 0 2%;
    font-size: 2vw;
}

#menu .sides h4 {
    margin: 0 0 2%;
    font-size: 1.5vw;
}

#menu .sides p {
    font-size: 1.25vw;
    margin: 0 0 7.5%;
}

#menu #classic-brunch .desserts {
    transform: translateY(-7.5%);
    padding-bottom: 5%;
}

#menu #classic-dinner .desserts {
    transform: translateY(-5%);
    padding-bottom: 2.5%;
}

#menu #golden-palette .desserts {
    margin-top: 25%;
}

#menu #golden-palette,
#menu #classic-brunch,
#menu #classic-dinner,
#menu #int-desserts,
#menu #macarons {
    margin: 0%;
    border-bottom: 7px ridge #d3b354;
    padding-bottom: 5%;
}

#menu #macarons {
    border-bottom: none;
    padding-bottom: 0;
}

#menu #golden-palette h2.menu-title,
#menu #classic-brunch h2.menu-title,
#menu #classic-dinner h2.menu-title,
#menu #int-desserts h2.menu-title,
#menu #macarons h2.menu-title {
    margin: 0;
    font-size: 6vw;
    border-top: 7px groove #d3b354;
    border-bottom: 7px ridge #d3b354;
    padding: 4%;
    color: #d3b354;
    background-color: #6d893a9e;
    transform: translateY(-4vh);
    border-radius: 0;
}

#menu #golden-palette .interactive-desserts h2 {
    border-top: none;
    font-size: 2.25vw;
    font-family: "aviano-royale";
    margin: 7% 20% 3%;
    padding: 1%;
}

#menu #golden-palette .interactive-desserts {
    margin-bottom: 2%;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
}

#golden-palette .horizontal-masonry-gallery .item-header,
#menu #classic-brunch .horizontal-masonry-gallery .item-header,
#menu #classic-dinner .horizontal-masonry-gallery .item-header,
#menu #int-desserts .horizontal-masonry-gallery .item-header,
#menu #macarons .horizontal-masonry-gallery .item-header {
    display: flex;
    justify-content: space-between;
    transform: translateY(-4.5vh);
}

#golden-palette .horizontal-masonry-gallery h3,
#menu #classic-brunch .horizontal-masonry-gallery h3,
#menu #classic-dinner .horizontal-masonry-gallery h3,
#menu #int-desserts .horizontal-masonry-gallery h3,
#menu #macarons .horizontal-masonry-gallery h3 {
    font-size: 1vw;
    color: #dee2c7;
    text-shadow: 
        0 0 5px #1a2e20, 
        0 0 5px #1a2e20, 
        0 0 5px #1a2e20;
    padding: 0 5%;
}

.horizontal-masonry-gallery img {
    width: 32.9vw;
    flex: 1;
    object-fit: cover;
    display: block;
}

#menu #int-desserts .menu-content {
    padding: 5% 0;
}

#menu #int-desserts .horizontal-masonry-gallery h3 {
    letter-spacing: -.5px;
}

#menu #macarons .menu-content {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 0 17.5%;
}

#menu #macarons h3#macaron-price {
    text-align: center;
    color: #d3b354;
    padding: 5% 0 0;
    margin: 0;
}
/*End Menu*/

/*Begin About Us*/
.about-content {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    background-color: #1a2e20;
    border-bottom: 7px ridge #d3b354;
    border-top: 7px groove #d3b354;
    display: flex;
}

.about-content img {
    width: 50%;
    height: 100%;
    object-fit: cover; 
    /* Ensures video covers the entire area */
    object-position: bottom center;
    position: relative;
}

.about-content .content {
    font-family: "aviano-royale";
    font-weight: bold;
    color: #dee2c7;
    text-align: center;
    background-color: transparent;
    border-radius: 75px 0 75px 0;
    width: 50%;
    padding: 4% 0%;
}

.about-content .content h2 {
    font-size: 3vw;
    margin: 0;
    padding: 0% 6% 2.5%;
    color: #d3b354
}

.about-content .content p {
    font-family: "new-spirit";
    font-weight: normal;
    text-align: start;
    font-size: 1.5vw;
    margin: 0;
    padding: 0 7.5% 2.5%;
}
/*End About Us*/


@media screen and (max-width: 950px) {
    #site-nav #header {
        padding-left: 1%;
    }

    #site-nav #header { 
        padding-right: 5%;
    }

    #site-nav #header #header-content {
        padding-left: 0;
    }

    #site-nav #header #header-content #navbar a {
        
        margin: 3% 1%;
    }

    .carousel-caption {
        border-radius: 50px 0 50px 0;
    }

    #menu-nav a {
        font-size: 16px;
    }

    .menu-carousel {
        height: 67vh;
    }

    .menu-carousel .carousel-caption h2 {
        font-size: 28px;
        padding: 0% 6% 7.5%;
    }

    .menu-carousel .carousel-caption h3  {
        font-size: 20px;
        margin: 0;
        font-weight: normal;
        padding: 0 7.5% 2.5%;
    }

    .menu-carousel .carousel-caption p {
        font-size: 16px;
        margin: 0;
        padding: 0 0% 2.5% 7.5%;
    }

    .menu-carousel .carousel-caption a {
        font-size: 18px;
        padding: 2.5% 2.5%;
    }

    .menu-carousel .carousel-caption .item-header {
        display: block;
    }

    .menu-carousel .carousel-caption .price-resp {
        display: block;
    }

    .menu-carousel .carousel-caption .price-resp {
        padding-bottom: 7.5%;
    }

    .menu-carousel .carousel-caption .price-desk {
        display: none;
    }

    #menu #golden-palette .horizontal-masonry-gallery h3, 
    #menu #classic-brunch .horizontal-masonry-gallery h3, 
    #menu #classic-dinner .horizontal-masonry-gallery h3, 
    #menu #int-desserts .horizontal-masonry-gallery h3, 
    #menu #macarons .horizontal-masonry-gallery h3 {
        transform: translateY(1vh);
    }

    #menu #golden-palette .full-menu-wo-gal , 
    #menu #classic-brunch .full-menu-wo-gal, 
    #menu #classic-dinner .full-menu-wo-gal, 
    #menu #int-desserts .full-menu-wo-gal, 
    #menu #macarons .full-menu-wo-gal{
        transform: translateY(1vh)
    }

     #menu #macarons h3#macaron-price {
        padding-top: 2%;
    }

    #menu #macarons .menu-content {
        padding-top: 3%;
    }
}

@media screen and (max-width: 850px) {
    .menu-carousel .carousel-item img {
        width: 100%;
        object-position: center center;
    }

    .menu-carousel .carousel-caption {
        top: 20%;
        left: 50%;
        width: 80%;
        height: fit-content;
        padding: 5% 3%;
        background-color: #2f3f26a2;
    }

    .menu-carousel .carousel-caption h2 {
        padding: 0% 0 3%;
    }

    .menu-carousel .carousel-caption h3 {
        padding-bottom: 1%;
    }

    .menu-carousel .carousel-caption p {
        padding-left: 4%;
        padding-bottom: 1%;
    }

    .menu-carousel .carousel-caption .price-resp {
        padding-bottom: 3%;
    }

    .menu-carousel .carousel-caption a {
        font-size: 18px;
        padding: 2.5% 2.5%;
    }

    #menu #golden-palette .horizontal-masonry-gallery h3, 
    #menu #classic-brunch .horizontal-masonry-gallery h3, 
    #menu #classic-dinner .horizontal-masonry-gallery h3, 
    #menu #int-desserts .horizontal-masonry-gallery h3, 
    #menu #macarons .horizontal-masonry-gallery h3 {
        transform: translateY(2vh);
        font-size: 8px;
    }
}

@media screen and (max-width: 780px) {
    #menu p {
        font-size: 12px;
    }

    #menu h3 {
        font-size: 14px;
    }
    #menu .sides p {
        font-size: 10px;
    }

    #menu .sides h4 {
        font-size: 12px;
    }

    #menu .sides h3 {
        font-size: 16px;
    }

    #menu #classic-brunch .sides {
            margin-top: 15%;
    }

    #menu #macarons {
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 750px) {
.carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption h2 {
        font-size: 22px;
    }

    .carousel-caption p,
    .carousel-caption h3  {
        font-size: 16px;
    }

    #cream .carousel-caption h2 {
        font-size: 25px;
    } 

    #cream .carousel-caption #br-resp {
        display: block;
    }

    .carousel-caption a {
        font-size: 18px;
        padding: 3% 5%;
        line-height: 1;
    }

    .carousel-control {
        padding: 0px 18px 5px;
        font-size: 35px;
    }

    #menu-nav a {
        font-size: 14px;
    }

    .menu-carousel {
        height: 68vh;
    }
    
    .menu-carousel .carousel-caption a {
        width: 70%;
    }

    #menu .menu-content {
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 0 5%;
    }

    #menu .sides .side-content {
        grid-template-columns: 1fr 1fr;
    }

    #menu #macarons .menu-content {
        grid-template-columns: 1fr 1fr;
        padding: 5% 5% 2.5%;
    }

    #menu #macarons {
        margin-bottom: 10%;
        padding-bottom: 5%;
    }
    
    #menu .entrees h2,
    #menu #classic-dinner .entrees h2 {
        margin-top: 7.5%;
    }
    
    #menu .sides {
        transform: translateY(-7.5vh);
        padding-bottom: 3.5%
    }

    #menu #classic-dinner .sides {
        transform: translateY(-5vh);
    }

    #menu #classic-brunch .desserts{
        transform: translateY(-22vh);
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 5%;
    }

    #menu #classic-dinner .desserts,
    #menu #golden-palette .desserts,
    #menu #golden-palette .interactive-desserts  {
        transform: translateY(-15vh);
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #menu #classic-brunch,
    #menu #classic-dinner {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 660px) {
    #site-nav #header {
        padding-left: 1.25%;
    }
    #site-nav #header #header-content {
        padding: 2.5% 0 0;
    }

    #site-nav #header #header-content #text-logo h1 {
        font-size: 30px;
    }

    #site-nav #header #header-content #navbar {
        flex-wrap: wrap;
        margin: 1.5% 0;
    }

    #site-nav #header #header-content #navbar a {
        margin: .5% 5%;
    }

    .menu-carousel {
        height: 69vh;
    }

    #menu .sides {
        padding-bottom: 4%;
    }
}

@media screen and (max-width: 621px) {
     #menu-nav {
        flex-wrap: wrap;
        height: 15vh;
    }

    .menu-carousel {
        height: 60vh;
    }

    .menu-carousel .carousel-caption a {
        width: 80%;
    }

    #menu #macarons .menu-content {
        grid-template-columns: 1fr;
        padding: 5% 5% 2.5%;
    }

    #menu #classic-brunch .desserts {
        transform: translateY(-18vh);
    }

    #menu #classic-dinner .desserts,
    #menu #golden-palette .desserts,
    #menu #golden-palette .interactive-desserts  {
        transform: translateY(-13vh);
    }

    #menu #classic-brunch .sides {
        transform: translateY(-5vh);
    }

    #menu #classic-dinner .sides {
        transform: translateY(-2.5vh);
    }
}

@media screen and (max-width: 550px) {
#site-nav #header #header-content #text-logo h1 {
        letter-spacing: 5px;
        padding: 5% 1%;
    }

    .menu-carousel .carousel-caption {
        border-radius: 25px 0 25px 0;
    }

    .menu-carousel .carousel-caption h2 {
        font-size: 25px;
    }

    .menu-carousel .carousel-caption h3 {
        font-size: 18px;
    }

    .menu-carousel .carousel-caption p {
        font-size: 15px;
    }

    #menu #classic-brunch .desserts {
        transform: translateY(-16vh);
    }

    #menu #classic-dinner .desserts,
    #menu #golden-palette .desserts,
    #menu #golden-palette .interactive-desserts {
        transform: translateY(-11vh);
    }

    #menu .sides {
        padding-bottom: 5%;
    }

    #menu #classic-brunch .horizontal-masonry-gallery img,
    #menu #classic-dinner .horizontal-masonry-gallery img,
    #menu #golden-palette .horizontal-masonry-gallery img,
    #menu #int-desserts .horizontal-masonry-gallery img,
    #menu #macarons .horizontal-masonry-gallery img {
        width: 50vw;
    }

    #menu #classic-brunch .horizontal-masonry-gallery h3,
    #menu #classic-dinner .horizontal-masonry-gallery h3,
    #menu #golden-palette .horizontal-masonry-gallery h3,
    #menu #int-desserts .horizontal-masonry-gallery h3,
    #menu #macarons .horizontal-masonry-gallery h3 {
        transform: translateY(1vh);
        font-size: 8pt;
    }

    #menu #classic-brunch .horizontal-masonry-gallery #bene,
    #menu #classic-dinner .horizontal-masonry-gallery #quail,
    #menu #golden-palette .horizontal-masonry-gallery #eggs,
    #menu #int-desserts .horizontal-masonry-gallery #hourglass,
    #menu #macarons .horizontal-masonry-gallery #matcha {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .carousel-caption { 
        padding: 2.5%;
        border-radius: 35px 0 35px 0;
    }

    .carousel-caption h2 {
        font-size: 20px;
    }

    .carousel-caption p,
    .carousel-caption h3  {
        font-size: 15px;
    }

    #macarons .carousel-caption p {
        font-size: 14px;
        margin-top: 3.5%;
    }

    #cream .carousel-caption h2 {
        font-size: 22px;
    } 

    #cream .carousel-caption #br-resp {
        display: block;
    }

    #cream .carousel-caption p {
        font-size: 14px;
        margin-top: 3.5%;
    }

    .carousel-caption a {
        font-size: 18px;
        padding: 3% 5%;
        line-height: 1;
    }

    .carousel-control {
        padding: 0px 13px 5px;
        font-size: 25px;
    }

    #menu .sides {
        padding-bottom: 6%;
    }
}

@media screen and (max-width: 450px) {    
    .carousel-caption h1 {
        font-size: 25px;
    }

    #site-nav #header #header-content #text-logo h1 {
        letter-spacing: 4px;
    }

    #site-nav #header-outer {
        padding-top: 5%;
    }
    
    #site-nav #header-outer h1 {
        display: block;
        letter-spacing: 4px;
        font-size: 30px;
        text-align: center;
    }

    #site-nav #header #header-content #text-logo h1 {
        display: none;
    }

    #site-nav #header {
        height: 15vh;
    }
    
    #site-nav #header #img-logo {
        height: 70%;
        margin: 1.25%;
    }
    
    #site-nav #header #header-content #navbar a {
        margin: .5% 2.25%; 
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption h2 {
        font-size: 15px;
    }

    .carousel-caption p,
    .carousel-caption h3  {
        font-size: 12px;
    }

    #cream .carousel-caption h2 {
        font-size: 20px;
    } 

    #cream .carousel-caption p,
    #macarons .carousel-caption p {
        font-size: 12px;
    }

    #cream .carousel-caption #br-resp {
        display: block;
    }

    #golden .carousel-caption h3 {
        padding: 6% 0;
    }

    .carousel-caption a {
        font-size: 15px;
        padding: 3% 5%;
        line-height: 1;
    }

    #menu .sides {
        padding-bottom: 7%;
    }

    .horizontal-masonry-gallery img {
        width: 32.15vw;
    }
}
