* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align:center;
}

#p1-1 {
    background-color: #b20000;
    margin: 0;
    padding: 1%;
}

#span1-1 {
    color: #260000;
}

#span1-2 {
    color: #690000;
}

#span1-3 {
    color: #880000;
}

#span1-4 {
    color: #cf0000;
}

#p2-1 {
    background-color: #ff2a00;
    margin: 0;
    padding: 1%;
}

#span2-1 {
    color: #641100;
}

#span2-2 {
    color: #961900;
}

#span2-3 {
    color: #c52100;
}

#span2-4 {
    color: #e12600;
}

#p3-1 {
    background-color: #ff7700;
    margin: 0;
    padding: 1%;
}

#span3-1 {
    color: #411e00;
}

#span3-2 {
    color: #793800;
}

#span3-3 {
    color: #a74f02;
}

#span3-4 {
    color: #d86500;
}

#p4-1 {
    background-color: #FFA500;
    margin: 0;
    padding: 1%;
}

#span4-1 {
    color: #412a00;
}

#span4-2 {
    color: #754c00;
}

#span4-3 {
    color: #b47500;
}

#span4-4 {
    color: #e79703;
}

#p5-1 {
    background-color: #ffc800;
    margin: 0;
    padding: 1%;
}

#span5-1 {
    color: #453600;
}

#span5-2 {
    color: #8d6e00;
}

#span5-3 {
    color: #ba9200;
}

#span5-4 {
    color: #d8aa01;
}

#p6-1 {
    background-color: #e9ec0f;
    margin: 0;
    padding: 1%;
}

#span6-1 {
    color: #3a3b00;
}

#span6-2 {
    color: #6f7100;
}

#span6-3 {
    color: #959800;
}

#span6-4 {
    color: #c9cc00;
}

#p7-1 {
    background-color: #bdee0f;
    margin: 0;
    padding: 1%;
}

#span7-1 {
    color: #2b3700;
}

#span7-2 {
    color: #506600;
}

#span7-3 {
    color: #7c9f00;
}

#span7-4 {
    color: #9ac501;
}

#p8-1 {
    background-color: #56e00c;
    margin: 0;
    padding: 1%;
}

#span8-1 {
    color: #1b4900;
}

#span8-2 {
    color: #286d00;
}

#span8-3 {
    color: #369101;
}

#span8-4 {
    color: #44b801;
}

#p9-1 {
    background-color: #0fe44f;
    margin: 0;
    padding: 1%;
}

#span9-1 {
    color: #003811;
}

#span9-2 {
    color: #006c20;
}

#span9-3 {
    color: #00982e;
}

#span9-4 {
    color: #00c73c;
}

#p10-1 {
    background-color: #0ce48e;
    margin: 0;
    padding: 1%;
}

#span10-1 {
    color: #003822;
}

#span10-2 {
    color: #00663d;
}

#span10-3 {
    color: #00985b;
}

#span10-4 {
    color: #00c174;
}

#p11-1 {
    background-color: #0ce4c7;
    margin: 0;
    padding: 1%;
}

#span11-1 {
    color: #002c26;
}

#span11-2 {
    color: #007162;
}

#span11-3 {
    color: #009d88;
}

#span11-4 {
    color: #00c4aa;
}

#p12-1 {
    background-color: #0cc7e4;
    margin: 0;
    padding: 1%;
}

#span12-1 {
    color: #00282f;
}

#span12-2 {
    color: #006678;
}

#span12-3 {
    color: #00829a;
}

#span12-4 {
    color: #00a8c5;
}

#p13-1 {
    background-color: #0c8ee4;
    margin: 0;
    padding: 1%;
}

#span13-1 {
    color: #001929;
}

#span13-2 {
    color: #004068;
}

#span13-3 {
    color: #00619e;
}

#span13-4 {
    color: #0075bd;
}

#p14-1 {
    background-color: #1c4aee;
    margin: 0;
    padding: 1%;
}

#span14-1 {
    color: #000a2e;
}

#span14-2 {
    color: #011768;
}

#span14-3 {
    color: #0023a4;
}

#span14-4 {
    color: #002dd1;
}

#p15-1 {
    background-color: #4916e5;
    margin: 0;
    padding: 1%;
}

#span15-1 {
    color: #090024;
}

#span15-2 {
    color: #1f007c;
}

#span15-3 {
    color: #2b00ad;
}

#span15-4 {
    color: #3300cb;
}

#p16-1 {
    background-color: #6b0eed;
    margin: 0;
    padding: 1%;
}

#span16-1 {
    color: #110029;
}

#span16-2 {
    color: #2b0067;
}

#span16-3 {
    color: #3d0093;
}

#span16-4 {
    color: #4f00bc;
}

#p17-1 {
    background-color: #890eed;
    margin: 0;
    padding: 1%;
}

#span17-1 {
    color: #170029;
}

#span17-2 {
    color: #420074;
}

#span17-3 {
    color: #5b00a1;
}

#span17-4 {
    color: #7300cb;
}

#p18-1 {
    background-color: #a80ce6;
    margin: 0;
    padding: 1%;
}

#span18-1 {
    color: #250034;
}

#span18-2 {
    color: #520072;
}

#span18-3 {
    color: #7500a3;
}

#span18-4 {
    color: #8f00c8;
}