@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Indie Flower";
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: blanchedalmond;*/
}

.light-outer-container {
    background-color: darkseagreen;
    padding: 48px 24px;
    color: rgb(41, 46, 44);
}

.dark-outer-container {
    background-color: rgb(41, 46, 44);
    padding: 48px 24px;
    color: darkseagreen;
}
