* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(21, 37, 33);
    color:rgb(136, 125, 106);
    justify-self: center;  
}

h1 {
    text-align: center;
}

p {
    width: 600px;
}

b, h3 {
    color: rgb(151, 96, 50);
}

a {
    color: rgb(176, 146, 87);
}

@media only screen and (max-width: 767px) {
            body {
                width: 100%;
                padding:15px;                
            }

            p {
                width: 100%;
                font-size:11px;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            h4 {
                width: 100%;
                font-size: 11px;
            }
        }