* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "alegreya";
    background-color: #8d0c22;
    font-size: 18px;
    letter-spacing: .5px;
}

.two-column {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    gap: 50px;
}

#sidebar-content {
    flex: 1;
    max-width: 250px;
    order: 2;
}

#sidebar-content h2 {
    background-color: #e6bd84;
    color: #8d0c22;
    padding: 12px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#sidebar-content ul {
    margin: 0 0 36px;
    background-color: #f4dba7;
    border: 1px solid #e6bd84;
    list-style-type: none;
    padding: 0 12px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#sidebar-content ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#sidebar-content li {
    padding: 8px 0;
    border-bottom: 1px solid #8d0c22;
    padding: 15px;
}

#sidebar-content li:last-child {
    border-bottom: none;
}

.single-column {
    background-color: #f4dba7;
    flex: 2;
    border-radius: 25px;
    padding: 25px;
    order: 1;
}

#header {
    text-align: center;
}

#header h2,
#header h3 {
    margin: 0; 
    letter-spacing: 2px;
}

#header h1 {
    margin: 10px;
    line-height: 1.25;
    font-size: 40px;
    border-bottom: 3px solid #8d0c22;
    padding-bottom: 10px;
    color: black;
    letter-spacing: 2px;
}

#header h2 {
    font-size: 32px;
    color: #8d0c22;
}

#header h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15px;
    color: black;
}

#header img {
    width: 100%;
}

#header h3 span {
    color: #8d0c22;
}

#header h3.warning {
    color: #8d0c22;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
}

#header h3 .warning {
    line-height: 2;
}

#summary {
    background-color: rgba(185, 106, 28, 0.263);
    border-radius: 25px;
    padding: 5px 25px;
    margin-top: 25px;
}

#summary h3 {
    color: #8d0c22;
    text-decoration: underline;
}

#summary ul {
    list-style: "\2740";
    margin: 0;
    padding: 0 15px;
}

#summary li::marker {
    color: #8d0c22;
}

#summary li {
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.section img {
    width: 100%;
}

.section h2 {
    color: #8d0c22;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.flex-container {
    display: flex;
    gap: 25px;
    align-items: center;
}

.section .flex-container-h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.img-column,
.txt-column {
    width: 50%;
}

#section-2 .txt-column p, 
#section-3 .txt-column p {
    margin: 0;
}

#section-4 .txt-column p {
    margin-top: 10px;
}

#source {
    color: #8d0c22;
    font-weight: bold;
    letter-spacing: 3px;
}

#source a {
    color: #8d0c22;
    font-size: 15px;
}

/*The following section here is what makes the page mobile friendly. 

The @media (or media quarry as Ryan said that it was called.) 
seems to tell it to target these elements but only under specific circumstances. 
I have this set to max-width: 780px. 

From my understanding how this works, is that it will only target the elements 
as long as the width of the screen doesnot exceed 780px.

This is all learnt based on me googling how to make things mobile friendly 
along with trial and error.*/
/*@media (max-width: 780px) {*/
    
/*The flex-direction property made it turn into a single column layout instead 
of the inline layout that display: flex defaults to.*/
    .flex-container {
        flex-direction: column;
    }

    .img-column,
    .txt-column {
        width: 100%;
    }

/*The order property was applied to flex-items within the flex-container to 
change the order of appearance for the paragraphs and images within 
my Media & Text blocks within the sections.*/
    .txt-column {
        order: 1;
    }

    .img-column {
        order: 2;
    }

    /*.single-column {
        margin-top: 0px;
        margin-bottom: 2px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }*/

    #header h1 {
        font-size: 28px;
        border-width: 2.5px;
    }

    #header h2 {
        font-size: 20px;
        margin: 0 30px;
    }

    #header h3 {
        font-size: 15px;
    }

    #header span.warning {
        font-size: 20px;
    }

    .section .flex-container-h2 {
        gap: 0;
        flex-direction: column;
    }

    #source {
        font-size: 15px;
        margin-top: 35px;
    }
    
    #source a {
        font-size: 12px;
    }
/*}*/